<span class="modal__close" (click)="closeDialog()"
  ><i class="fa fa-times" aria-hidden="true"></i
></span>
<div>
  <h2 class="modal__title">{{ data ? "Actualizar" : "Crear" }} Moneda</h2>
  <div>
    <form [formGroup]="formCoin" class="mb-80" action="">
      <!-- <select class="select mb-2" name="" id="">
        <option value="">Opción 1</option>
      </select> -->
      <input
        [ngClass]="{
          success: this.formCoin.get('name')?.touched,
          error:
            this.formCoin.get('name')?.errors &&
            this.formCoin.get('name')?.touched
        }"
        formControlName="name"
        type="text"
        class="mb-2"
        placeholder="Nombre"
      />
      <input
        [ngClass]="{
          success: this.formCoin.get('symbol')?.touched,
          error:
            this.formCoin.get('symbol')?.errors &&
            this.formCoin.get('symbol')?.touched
        }"
        formControlName="symbol"
        type="text"
        class="mb-2"
        placeholder="Simbolo"
      />
      <input
        [ngClass]="{
          success: this.formCoin.get('value')?.touched,
          error:
            this.formCoin.get('value')?.errors &&
            this.formCoin.get('value')?.touched
        }"
        formControlName="value"
        type="number"
        class="mb-2"
        placeholder="Tasa"
      />
    </form>
  </div>
  <div class="modal__buttons">
    <button
      class="btn btn--primary"
      (click)="data ? updateCoin() : createCoin()"
      [disabled]="!formCoin.valid"
    >
      Guardar
    </button>
    <button class="btn btn--outline" (click)="closeDialog()">Cancelar</button>
  </div>
</div>
