<div class="list__container">
  <div class="list__coins">
    <div class="list__coins-title">
      <h1>Paises</h1>
      <button (click)="openDialog()" class="btn btn--primary">
        <span class="hide-on--mobile"> Agregar pais </span>
        <span class="display-on--mobile"
          ><i class="fa fa-plus" aria-hidden="true"></i
        ></span>
      </button>
    </div>
    <div class="table__coins">
      <table>
        <thead>
          <th>#</th>
          <th>Nombre</th>
          <th>Monedas</th>
          <th>Usuarios</th>
          <th></th>
        </thead>
        <tbody>
          <tr *ngFor="let country of countries; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ country.name }}</td>
            <td>{{ country.coins }}</td>
            <td>{{ country.users }}</td>
            <td class="table__buttons">
              <i class="fa fa-pencil-square-o mr-2" aria-hidden="true"></i
              ><i class="fa fa-trash-o" aria-hidden="true"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
