.list__container {
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100vw;
}

.list__coins {
  display: flex;
  flex-direction: column;
  min-width: 80vw;
  /* min-height: 50vh; */
}

.list__coins-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: var(--dark);
  border-bottom: 1px solid #dedede;
  padding-bottom: 1rem;
  margin-bottom: 1.8rem;
  gap: 6px;
}

.table__coins {
  overflow-y: auto;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.table__coins table {
  border-collapse: collapse;
  height: 100%;
  width: 100%;
}

.table__coins th,
td {
  height: 64px;
  padding: 0 0.5em;
  text-align: center;
  color: #2c2a29;
  font-size: 1rem;
  white-space: nowrap;
}

.table__coins thead {
  background: #f4f4f4;
  border-bottom: 1px solid #2c2a29;
}

.table__coins tbody tr {
  border-bottom: 1px solid var(--gray);
}

.table__coins tbody td:first-child {
  border-bottom: 1px solid var(--gray);
}

.table__buttons i {
  font-size: 2rem;
  cursor: pointer;
}

@media (max-width: 500px) {
  .list__coins-title {
    padding: 0 10px 1rem 10px;
  }
  .table__coins {
    max-width: 100%;
  }
  .list__container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
  }
}
