<div class="list__container">
  <div class="list__coins">
    <div class="list__coins-title">
      <h1>Mis monedas</h1>
      <button (click)="addCoin()" class="btn btn--primary">
        <span class="hide-on--mobile"> Agregar moneda </span>
        <span class="display-on--mobile"
          ><i class="fa fa-plus" aria-hidden="true"></i
        ></span>
      </button>
    </div>
    <div class="table__coins">
      <table>
        <thead>
          <th>#</th>
          <th>Símbolo</th>
          <th>Nombre</th>
          <th>Tasa de cambio</th>
          <th></th>
        </thead>
        <tbody>
          <tr *ngFor="let coin of coins; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ coin.symbol }}</td>
            <td>{{ coin.name }}</td>
            <td>{{ coin.value }}</td>
            <td class="table__buttons">
              <i
                (click)="updateCoin(coin)"
                class="fa fa-pencil-square-o mr-2"
                aria-hidden="true"
              ></i
              ><i
                (click)="deleteCoin(coin._id)"
                class="fa fa-trash-o"
                aria-hidden="true"
              ></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
