<div class="list__container">
  <div class="list__coins">
    <div class="list__coins-title">
      <h1>Mis Usuarios</h1>
      <button (click)="openDialog()" class="btn btn--primary">
        <span class="hide-on--mobile"> Agregar usuario </span>
        <span class="display-on--mobile"
          ><i class="fa fa-plus" aria-hidden="true"></i
        ></span>
      </button>
    </div>
    <div class="table__coins">
      <table>
        <thead>
          <th>#</th>
          <th>Nombre</th>
          <th>Pais</th>
          <th></th>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td class="table__buttons">
              <i class="fa fa-pencil-square-o mr-2" aria-hidden="true"></i
              ><i class="fa fa-trash-o" aria-hidden="true"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
