<div class="list__container">
  <div class="list__coins">
    <div class="list__coins-title">
      <h1>Listar monedas disponibles</h1>
    </div>
    <table class="table__coins">
      <thead>
        <th>#</th>
        <th>Símbolo</th>
        <th>Nombre</th>
        <th>Tasa de cambio</th>
        <th></th>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>2</td>
          <td>3</td>
          <td>4</td>
          <td class="table__buttons">
            <i class="fa fa-pencil-square-o mr-2" aria-hidden="true"></i
            ><i class="fa fa-trash-o" aria-hidden="true"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
