.btn {
  padding: 0.5rem 1rem;
  font-weight: 600;
  font-size: 1rem;
  text-transform: uppercase;
  color: var(--dark);
  border: none;
  border-radius: 20px;
  transition: filter 0.2s;
  cursor: pointer;
  height: min-content;
  width: fit-content;
}

.btn--primary {
  background: var(--primary);
}

.btn--danger {
  color: #fff;
  background: var(--danger);
}

.btn--outline {
  border: 1px solid var(--dark);
}

.btn:hover {
  filter: brightness(92%);
}

.btn:active {
  transform: scale(1.02);
}

.btn:disabled {
  filter: brightness(80%);
  cursor: default;
}
