.input__container {
  position: relative;
  width: 100%;
  padding: 0.3rem 3rem;
}

.input__container input {
  padding: 1.5rem 0.5rem;
  border: none;
  border-bottom: 1px solid #2c2a29;
  width: 100%;
}

.input__container input::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #bcbdc0;
  letter-spacing: 0.3px;
  text-transform: capitalize;
}

/* .input__container label {
  position: absolute;
  top: 0;
  left: 0;
} */

select,
input {
  border: none;
  padding: 0.7rem 0rem;
  width: 100%;
  font-size: 1rem;
  border-bottom: 1px solid var(--dark);
}

input:disabled,
select:disabled,
textarea:disabled {
  background: #868a8a28;
}

input.success,
.success input,
.success select {
  border-bottom: 1px solid var(--success);
}

input.error,
.error input,
.error select {
  border-bottom: 1px solid var(--danger);
}
