.modal {
  border-radius: 20px;
}

.modal .mat-dialog-container {
  border-radius: 20px !important;
  position: relative;
  padding: 3rem;
}

.modal__close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 10;
  cursor: pointer;
  font-size: 1.5rem;
}

.modal__title {
  font-size: 1rem;
  font-weight: 700;
  text-align: left;
  margin-bottom: 2rem;
}

.modal__buttons {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
