<span class="modal__close" (click)="closeDialog()"
  ><i class="fa fa-times" aria-hidden="true"></i
></span>
<div>
  <h2 class="modal__title">Crear Pais</h2>
  <div>
    <form [formGroup]="formCountry" class="mb-80" action="">
      <input
        formControlName="name"
        type="text"
        class="mb-2"
        placeholder="Nombre"
      />

      <mat-form-field appearance="fill">
        <mat-label>Monedas</mat-label>
        <mat-select formControlName="coins" multiple>
          <mat-option *ngFor="let coin of coins" [value]="coin">{{
            coin.name
          }}</mat-option>
        </mat-select>
      </mat-form-field>

      <input
        formControlName="users"
        type="number"
        class="mb-2"
        placeholder="Tasa"
      />
    </form>
  </div>
  <div class="modal__buttons">
    <button class="btn btn--primary" (click)="createCountry()">Guardar</button>
    <button class="btn btn--outline" (click)="closeDialog()">Cancelar</button>
  </div>
</div>
