<span class="modal__close" (click)="closeDialog(false)"
  ><i class="fa fa-times" aria-hidden="true"></i
></span>
<div>
  <h2 class="modal__title">Borrar Moneda</h2>
  <div></div>
  <div class="modal__buttons">
    <button class="btn btn--danger" (click)="closeDialog(true)">Borrar</button>
    <button class="btn btn--outline" (click)="closeDialog(false)">
      Cancelar
    </button>
  </div>
</div>
