<span class="modal__close" (click)="closeDialog()"
  ><i class="fa fa-times" aria-hidden="true"></i
></span>
<div>
  <h2 class="modal__title">Crear Usuario</h2>
  <div>
    <form class="mb-80" action="">
      <input type="text" class="mb-2" placeholder="Nombre" />
      <select class="select mb-2" name="" id="">
        <option value="">Pais 1</option>
      </select>
    </form>
  </div>
  <div class="modal__buttons">
    <button class="btn btn--primary">Guardar</button>
    <button class="btn btn--outline" (click)="closeDialog()">Cancelar</button>
  </div>
</div>
