.login__container {
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100vw;
}

.login {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 5%;
  box-shadow: 0px 4px 4px 0px #00000040;
  min-width: 40vw;
  min-height: 50vh;
}

.login__title {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  padding-bottom: 1rem;
  width: 100%;
  color: var(--dark);
  border-bottom: 1px solid #dedede;
}

.login__form {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 2rem;
}

@media (max-width: 500px) {
  .login {
    box-shadow: 0px 4px 4px 0px #00000040;
    min-width: 100%;
    /* min-height: 100%; */
  }
}
