<div class="login__container">
  <div class="login">
    <h1 class="login__title">Sign in</h1>
    <form class="login__form" action="">
      <div class="input__container">
        <!-- <label for="username">Username</label> -->
        <input id="username" type="text" placeholder="Username" />
      </div>
      <div class="input__container">
        <!-- <label for="password">Passowrd</label> -->
        <input id="password" type="text" placeholder="Password" />
      </div>
    </form>
    <div class="d-flex justify-center py-2">
      <button class="btn btn--primary" routerLink="/home">Sign in</button>
    </div>
  </div>
</div>
