.home__options {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
}

.home {
  display: grid;
  align-items: center;
  grid-template-rows: auto 1fr;
  width: 100%;
  height: 100%;
  padding: 5%;
}

@media (max-width: 500px) {
  .home__options {
    flex-direction: column;
  }
}
