<div class="home">
  <h1>Modulos</h1>
  <div class="home__options">
    <button class="btn btn--primary" routerLink="/coins/list">Monedas</button>
    <button class="btn btn--primary" routerLink="/countries/list">
      Paises
    </button>
    <button class="btn btn--primary" routerLink="/users/list">Usuarios</button>
  </div>
</div>
