/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

/* Styles */

@import url("./styles/btn.css"); /* button */
@import url("./styles/colors.css"); /* colors */
@import url("./styles/utils.css"); /* utils */
@import url("./styles/input.css"); /* inputs */
@import url("./styles/modals.css"); /* modals */
@import url("./styles/scroll.css"); /* scroll */

body {
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
